<style>
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif
}
  /* Navbar styling */
  nav {
    background-color: #b882f6;
    overflow: hidden;
  }

  nav a {
    float:right;
    color: white;
    text-align: center;
    padding: 25px 30px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: whitesmoke;
    border-radius: 40px;
    color: black;
  }
</style>
<nav>
    <a href="Logout">Logout</a>
    <a href="/">Home</a>
    <h4 style="color: white; margin-top: 25px; margin-left: 54px;">Welcome <%= name %></h4>
  </nav>